border-1px($color)
  position: relative
  &:after
    display: block
    position: absolute
    left: 0
    bottom: 0
    width: 100%
    height: 1px
    border-top: 1px solid $color
    content: ' '
border-round($color)
  position: relative
  &:after
    display: block
    position: absolute
    left: 0
    right: 0
    height: 100%
    width: 1px
    border-right: 1px solid $color
    border-bottom: 1px solid $color
    content: ' '
bg-image($url)
  background-image: url($url)
